```html
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <style>
        nav {
            background-color: rgb(254, 249, 249);
            padding: 15px;
        }

        nav ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: right;
            gap: 40px;
        }

        nav li {
            color: rgb(15, 2, 2);
            font-size: 18px;
        }
    </style>
</head>

<body>

    <h1 style="text-align:center;">Hello</h1>

    <nav>
        <ul>
            <li>Home</li>
            <li>About Us</li>
            <li>Product</li>
            <li>Contact Us</li>
            <li>Services</li>
        </ul>
    </nav>

</body>
</html>
```